.about {
    background: linear-gradient(180deg, rgb(120, 150, 200) 0%, rgb(240, 240, 240) 100%);
    padding: 4% 16%;
    text-align: center;
    line-height: 32px;
}

.about h2 {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
}

.about h3 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 1rem;
}

.about p {
    font-size: 20px;
    margin-bottom: 1rem;
}