.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3% 0;
}

.contacts h2 {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    color: rgb(50, 120, 200);
    margin-bottom: 2rem;
}

.contacts .card-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    line-height: 24px;
    padding: 0 0.3rem;
    margin: 0 auto 1rem;
    border: 2px solid rgb(50, 120, 200);
    border-radius: 14px;
    width: 80vw;
    height: 4rem;
}

@media (min-width: 768px) {
    .contacts .card-wrapper {
        width: 60vw;
        line-height: 28px;
        padding: 0 1rem;
    }
}

@media (min-width: 1200px) {
    .contacts .card-wrapper {
        width: 30vw;
    }
}

.contacts .card-wrapper:nth-child(1):hover {
    background-color: lightblue;
}

.contacts .card-wrapper:nth-child(1):hover p {
    /* font-weight: 700; */
    color: rgb(50, 120, 200);
}

.contacts p {
    color: #000000;
    font-size: 20px;
}

.contacts img {
    margin-right: 14px;
}