.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3vw 0vw;
}

.contacts h2 {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    color: rgb(50, 120, 200);
    margin-bottom: 2rem;
}

.contacts .card-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.3rem;
    margin: 0 auto 1rem;
    border: 2px solid rgb(50, 120, 200);
    border-radius: 14px;
    width: 80vw;
    height: 3.5rem;
}

@media (min-width: 576px) {
    .contacts .card-wrapper {
        width: 52vw;
    }
}

@media (min-width: 768px) {
    .contacts .card-wrapper {
        width: 45vw;
        padding: 0 1rem;
    }
}

@media (min-width: 1200px) {
    .contacts .card-wrapper {
        width: 30vw;
    }
}

@media (min-width: 576px) {
    .card-wrapper.first-contact {
        transform: translateX(-40%);

    }

    .card-wrapper.second-contact {
        transform: translateX(-20%);

    }

    .card-wrapper.third-contact {
        transform: translateX(0);
    }

    .card-wrapper.fourth-contact {
        transform: translateX(20%);
    }

    .card-wrapper.fifth-contact {
        transform: translateX(40%);
    }
}

.contacts .card-wrapper:nth-child(1):hover {
    background-color: lightblue;
}

.contacts .card-wrapper:nth-child(1):hover p {
    font-weight: 700;
    color: rgb(50, 120, 200);
}

.contacts p {
    color: #000000;
    font-size: 20px;
}