header {
    min-height: 100vh;
}

header .header-wrapper {
    height: 55vh;
    background: url("../../public/assets/laptop.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    margin-bottom: 80px;
}

@media (min-width: 768px) {
    header .header-wrapper {
        height: 60vh;
        background: url("../../public/assets/laptop.jpg") fixed;
        background-size: cover;
        background-position: center;
        margin-bottom: 100px;
    }
}

header .header-wrapper nav {
    min-height: 70px;
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
    transition: 0.3s;
}

header .header-wrapper nav .nav-background {
    background: linear-gradient(180deg, rgba(35, 35, 35, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%);
    transition: all ease-in-out 0.5s;
    width: 100%;
    position: absolute;
    top: -100%;
    height: 70px;
}

header .header-wrapper nav ul {
    display: flex;
    gap: 6px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    header .header-wrapper nav ul {
        gap: 20px;
    }
}

@media (min-width: 1200px) {
    header .header-wrapper nav ul {
        gap: 100px;
    }
}

header .header-wrapper nav li {
    position: relative;
    z-index: 1;
    color: #FFFFFF;
}

header .header-wrapper nav a {
    cursor: pointer;
    position: relative;
    border: 2px solid #FFFFFF;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0px;
    background: rgb(50, 120, 200);
    padding: 4px 6px;
    border-radius: 20px;
    overflow: hidden;
    height: fit-content;
    transition: 0.5s;
}

@media (min-width: 768px) {
    header .header-wrapper nav a {
        font-size: 12px;
        letter-spacing: 1px;
        padding: 6px 8px;
    }
}

@media (min-width: 1200px) {
    header .header-wrapper nav a {
        font-size: 16px;
        letter-spacing: 3px;
        padding: 6px 12px;
    }
}

header .header-wrapper nav a.scroll {
    font-size: 10px;
}

@media (min-width: 768px) {
    header .header-wrapper nav a.scroll {
        font-size: 0.9rem;
    }
}

header .header-wrapper nav a:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 160%; /*140%;*/
    background: #2b2a2a;
    transition: all 0.5s ease-in-out;
    transform: translateX(-150%) translateY(-25%) rotate(45deg);
}

header .header-wrapper nav a:nth-child(1)::after,
header .header-wrapper nav a:nth-child(2)::after {
    left: -30px;
    top: 0;
}

header .header-wrapper nav a:hover:after {
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

header .header-wrapper nav a.active::after {
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

header .header-wrapper .nav-background.active {
    top: 0;
}

.personal-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.personal-info .img-wrapper {
    background-image: url("../../public/assets/KikoCV.jpg");
    background-size: cover;
    background-position-y: -11px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid #FFFFFF;
    position: absolute;
    top: -90%;
}

@media (min-width: 768px) {
    .personal-info .img-wrapper {
        top: -80%;
    }
}

.personal-info h1 {
    color: rgb(50, 120, 200);
    font-size: 62px;
}

@media (min-width: 768px) {
    .personal-info h1 {
        font-size: 70px;
    }
}

.personal-info h2 {
    font-size: 32px;
    margin: 20px 0;
}

@media (min-width: 768px) {
    .personal-info h2 {
        font-size: 48px;
    }
}

.personal-info .contact-links-section {
    display: flex;
    gap: 60px;
}

.personal-info .contact-links-section .link-wrapper {
    width: 35px;
}

.personal-info .contact-links-section .link-wrapper svg {
    width: 100%;
    fill: rgb(50, 120, 200);
    transition: 0.5s;
}

.personal-info .contact-links-section .link-wrapper svg:hover {
    fill: #000000;
}