.skills {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    padding: 4% 0;
}

.skills h2 {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    color: rgb(50, 120, 200);
    margin-bottom: 2rem;
}

.skills .grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 48px;
    margin: 0 auto;
    width: 65%;
}

.skills .skill-section {
    border: 2px solid rgb(50, 120, 200);
    border-radius: 14px;
    padding: 20px;
}

.skills .skill-section h3 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 1rem;
}

.skills .professional {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-row: span 2;
    margin-right: 32px;
}

.skills .professional ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 35px;
}

.skills .professional ul div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills .languages h5 {
    font-size: 22px;
    font-weight: 400;
    color: rgb(50, 120, 200);
}

.skills .languages div {
    margin-bottom: 12px;
}

.skills .personal {
    padding-left: 40px;
    font-size: 22px;
}

.skills .personal li {
    list-style-type: disclosure-closed;
}

.skills .personal li::marker {
    color: rgb(50, 120, 200);
}